@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all;
}

.mdxeditor-root-contenteditable,
.mdxeditor-root-contenteditable > div,
.mdxeditor-root-contenteditable [contenteditable="true"] {
  @apply max-h-full;
}
.mdxeditor-popup-container *,
.mdxeditor-popup-container {
  @apply !z-[10000] transition-none;
}
.mdxeditor-root-contenteditable [contenteditable="true"] {
  @apply overflow-y-auto;
}
.mdxeditor-select-content {
  @apply bg-[var(--muted)] mt-4 p-1 border border-[var(--border)] rounded-lg;
  box-shadow: none !important;
}
.mdxeditor-select-content [role="option"]::after {
  content: "";
  @apply top-0 left-0 w-full h-full rounded-md opacity-25 bg-transparent transition-all absolute;
}
@keyframes tooltipAppear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
._tooltipContent_sects_681::after {
  content: "";
  @apply absolute top-0 left-1/2 -translate-x-1/2 bg-[var(--text)] w-[24.5px] h-[8.73px] -translate-y-full;
  clip-path: path(
    "M19.799 7.23346L14.6127 0.750613C13.796 -0.270296 12.2354 -0.245918 11.451 0.800003L6.7 7.13468C5.94458 8.1419 4.75903 8.73468 3.5 8.73468H22.9225C21.7074 8.73468 20.5581 8.18232 19.799 7.23346Z"
  );
}
._tooltipContent_sects_681[data-side="top"]::after {
  translate: 0px 1px;
}
._tooltipContent_sects_681[data-side="top"] {
  translate: 0px 250%;
}
._tooltipContent_sects_681 {
  animation: tooltipAppear 0.1s ease-in-out;
  @apply !bg-[var(--text)] !text-[var(--bg)] font-sans rounded-lg py-1 px-3 relative;
}
.mdxeditor-select-content [role="option"][data-highlighted]::after {
  @apply !bg-[var(--accent)];
}

.mdxeditor-select-content [role="option"][data-highlighted] {
  @apply !bg-transparent;
}
.mdxeditor-select-content [role="option"] {
  @apply py-1.5 px-3 rounded-md transition-all relative;
}
.mdxeditor-popup-container {
  @apply absolute top-0 left-0;
}

.mdx hr {
  border: none;
  @apply my-8;
  border-bottom: 1px solid var(--border);
}
.mdx {
  @apply p-4 pt-20 flex flex-col;
}
.mdx [contenteditable="true"] {
  @apply p-6;
}
.mdx h1 {
  @apply font-bold tracking-tight text-6xl mb-2;
}
.mdx blockquote::after {
  content: "";
  @apply absolute top-0 left-0 w-1 h-full bg-[var(--border)] rounded-lg;
}
.mdx ul,
.mdx ol {
  @apply ml-4;
}
.mdx ul li::marker,
.mdx ol li::marker {
  @apply text-white/50;
}
.mdx ol li::marker {
  @apply font-sans;
}
.mdx ul li:not([role="checkbox"]) {
  @apply list-disc pl-2;
}
.mdx ul li[role="checkbox"] {
  @apply !pl-7;
}
.mdx ul li[role="checkbox"][aria-checked="true"]::before {
  background-color: var(--accent) !important;
  border: transparent;
}
.mdx ul li[role="checkbox"][aria-checked="true"] span {
  color: var(--border) !important;
}
.mdx ul li[role="checkbox"] span {
  position: relative;
  display: inline-block;
}
.mdx ul li[role="checkbox"] span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition-duration: 0.1s;
  width: 0%;
  border-bottom: 1px solid var(--text);
}
.mdx ul li[role="checkbox"][aria-checked="true"] span::after {
  width: 100%;
}
.mdx ul li[role="checkbox"][aria-checked="true"] {
  text-decoration: none !important;
}
.mdx ul li[role="checkbox"]::before {
  transform: translateY(6px) scale(1.2);
  border-radius: 6px !important;
  outline: none !important;
  border: 1px solid var(--border);
  box-shadow: none !important;
  transition-duration: 0.1s;
}
.mdx ul li[role="checkbox"]::after {
  translate: 0px 6px;
}
.mdx ol li {
  @apply list-decimal pl-2;
}
.mdx blockquote {
  @apply pl-6 py-2 relative;
}

* {
  color: var(--text);
}
body {
  background-color: var(--bg) !important;
}

.toolbar {
  @apply flex gap-1 fixed w-[calc(100%-calc(1.25rem*2))] top-5 left-5 py-3 h-fit min-h-fit px-4 pr-5 rounded-xl z-10 bg-[var(--muted)];
}

.toolbarselectors > * {
  @apply !m-0;
}
.toolbarselectors button:hover {
  @apply !opacity-75;
}
.toolbarselectors button {
  @apply !mr-1;
}
.separator {
  border-right: 1px solid var(--border);
  margin-right: 12px !important;
  margin-left: 8px !important;
}
.mdx code > span {
  background-color: var(--border) !important;
  border-radius: 4px;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
}
.toolbarselectors button,
.toolbarselectors button *,
.toolbarselectors * {
  transform: none !important;
}
.toolbarselectors button[data-state="on"] svg * {
  @apply !text-[var(--accent)];
}

.toolbarselectors * {
  @apply !bg-transparent;
}
